table {
    width: 50%;
    margin-top: 20px;
    border-width: 5px;
    border-radius: 8px;
    justify-self: center;
    text-align: justify;
    border-collapse: collapse;
}

/* Rows */
tr {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
    border-radius: 8px;
    border-collapse: collapse;
}

tr:hover {
    background-color: rgba(254, 246, 246, 0.064);
}

/* Headers*/
th {
    background-color: rgba(188, 23, 23, 0.272);
    text-transform: uppercase;
}

/* Cells */
td {
    padding: 10px;
    font-size: 0.95rem;
}

/* MOBILE STYLNG */
@media (max-width: 600px) {
    table {
        border: none;
    }

    thead {
        display: block;
        margin-bottom: 15px;
        border: 1px sold #333;
        border-radius: 8px;
        padding: 10px;
    }

    td {
        display: flex;
        justify-content: space-between;
        padding: 8px 10px;
        font-size: 0.9rem;
        border: none;
    }


}