table {
    width: 100%;
    margin-top: 10px;
    border-width: 20px auto;
    border-radius: 8px;
    border-collapse: collapse;
    justify-self: center;
    text-align: justify;
}

/* Rows */
tr {
    border-bottom: 1px solid #444;
}

tr:hover {
    background-color: rgba(254, 246, 246, 0.064);
}

/* Headers*/
th {
    background-color: rgba(188, 23, 23, 0.272);
    text-transform: uppercase;
    padding: 10px;
    text-align: center;
    white-space: nowrap;
}

/* Cells */
td {
    padding: 12px;
    text-align: center;
    white-space: nowrap;
}

/* MOBILE STYLNG */
@media (max-width: 600px) {
    table {
        font-size: 0.9rem;
        min-width: 300px;
    }
}