div {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

form {
    width: 500px;
    margin: auto;
}

.form-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}

input {
    width: 350px;
    flex: 2;
    padding: 5px;
}

label {
    flex: .5;
    text-transform: uppercase;
    text-align: left;
    margin-left: 10px;
}

button {
    background-color: rgba(188, 23, 23, 0.272);
    width: 500px;
    margin: 5px;
    height: 35px;
    cursor: pointer;
    border-radius: 8px;
}

h5 {
    text-align: justify;
    margin-left: 250px;
    margin-right: 250px;
}